@charset 'utf-8';

/* filter---------------------- */

.filter-ul{
    justify-content: center;
}
.filter-li-bottom{
    border-bottom: 8px solid #AA0601;
}
.filter-li{
    width: 33.33333%;
    text-align: center;
    border-right: 1px solid #DCDCDC;
    border-left: 1px solid #DCDCDC;
}
.filter-li a{
    font-size: 32px;
    color: #000;
    font-weight: normal;
    padding: 24px 0;
    display: block;
}


/* product----------------------- */

.product-title{
    text-align: center;
    line-height: 1.5;
    margin-top: 80px;
    margin-bottom: 32px;
}
.product-h2{
    font-size: 42px;
}
.product-h3{
    font-size: 32px;
}

.product-ul{
    flex-wrap: wrap;
}

.product-li{
    margin-bottom: 80px;
}

.li-col-4{
    width: 25%;
}
.li-col-3{
    width: 33.33333%;
}

.card{
    margin: 0 12px;
}
.card-info{
    justify-content: space-between;
    line-height: 1.5;
    color:#000;
}
.color1,.color2{
    width: 24px;
    height: 24px;
    border-radius: 4px;
}
.color1{
    background-color:#5F3E2D;
    margin-right: 8px;
}

.color2{
    background-color:#B75929;
}

@media (max-width:576px){
    .filter li a{
        font-size: 16px;
    }

    /* product------------------ */
    .product-h2{
        font-size: 24px;
    }
    .product-h3{
        font-size: 24px;
    }
    
    .product-ul{
        display: block;
    }

    .li-col-3,.li-col-4{
        width: 100%;
    }



}
